<%- contentFor('body') %>

<div class="row">
    <div class="col-md-12">
        <div class="card border-0 shadow rounded">
            <div class="card-body">
                <h4 class="card-title">#<%= id %></h4>
                
                <h5> <%= title %>  </h5>
                <p> <%= content %>  </p>
            </div>

        </div>
    </div>
</div>  